.background{
    background: linear-gradient(60deg, rgba(255, 35, 0, 0.51), rgba(72, 146, 255, 0.5));
    min-height: 100vh;
    z-index: -100;
}

#app{
    background-size: cover;
    overflow-x: hidden;
}